<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="skin" th:if="${board != null && board.categories != null && !board.categories.isEmpty()}" th:object="${board}" class="category-tabs">
    <a th:href="@{/board/list/{bid}(bid=*{bid})}" th:text="#{전체_게시글}" class="tab" th:classappend="${param.category == null || param.category == ''} ? 'on'"></a>
    <a th:each="category : *{categories}" th:href="@{/board/list/{bid}?category={category}(bid=*{bid}, category=${category})}" th:text="${category}" class="tab" th:classappend="${param.category != null && #strings.equals(category, param.category)} ? 'on'"></a>
</nav>
</html>