<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="skin">
    <form th:replace="~{front/board/skins/gallery/_comment_form::form}"></form>

    <ul th:if="${comments != null && !comments.isEmpty()}" class="comment-items">
        <li th:each="comment : ${comments}" th:object="${comment}" class="comment-item" th:id="*{'comment-' + seq}">
            <div class="top-section">
                <div class="left">
                    <span th:text="#{작성자}"></span>
                    <th:block th:text="*{commenter}"></th:block>
                    <th:block th:if="*{!guest}" th:text="*{#strings.concat('(', member.email, ')')}"></th:block>
                </div>
                <div class="right">
                    <span th:text="#{작성일시}"></span>
                    <th:block th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></th:block>
                </div>
            </div>
            <!--// top-section -->
            <div class="content-section" th:utext="*{@utils.nl2br(content)}"></div>
            <div class="controls" th:if="*{editable}">
                <a th:href="@{/board/comment/{seq}(seq=*{seq})}" th:text="#{수정}"></a>
                <a th:href="@{/board/comment/delete/{seq}(seq=*{seq})}" th:text="#{삭제}" onclick="return confirm('정말 삭제하겠습니까?');"></a>
            </div>
        </li>
    </ul>
</th:block>
</html>