<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common">
    <input type="hidden" name="bid" th:value="${board.bid}">
    <input type="hidden" name="gid" value="">

    <th:block th:if="${board.skin == 'default'}">
        <th:block th:replace="~{front/board/skins/default/_form::skin}"></th:block>
    </th:block>

    <th:block th:if="${board.skin == 'gallery'}">
        <th:block th:replace="~{front/board/skins/gallery/_form::skin}"></th:block>
    </th:block>

</th:block>
</html>