<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form name="frmPassword" method="POST" th:action="@{/board/password}" autocomplete="off" target="ifrmProcess">
        <th:block th:text="#{비밀번호}"></th:block>
        <input type="password" name="password">
        <button type="submit" th:text="#{확인}"></button>
    </form>
</main>
</html>