<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form th:fragment="form" class="comment-form" name="frmComment" method="POST" th:action="@{/board/comment}" target="ifrmProcess" th:object="${requestComment}" th:if="${board.commentable}" >
    <input type="hidden" name="boardDataSeq" th:field="*{boardDataSeq}">
    <input type="hidden" name="guest" th:field="*{guest}">
    <input type="hidden" name="mode" th:field="*{mode}">
    <input th:if="*{mode == 'comment_update'}" type="hidden" name="seq" th:field="*{seq}">

    <div class="top-section">
        <span th:text="#{작성자}"></span>
        <input type="text" name="commenter" th:field="*{commenter}">
        <th:block th:if="*{guest}">
            <span th:text="#{비밀번호}"></span>
            <input type="password" name="guestPw" th:field="*{guestPw}">
        </th:block>
    </div>
    <div class="content-section">
        <textarea name="content" th:field="*{content}"></textarea>
        <button type="submit" th:text="#{작성하기}"></button>
    </div>
</form>
</html>