<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="skin" th:object="${requestBoard}">
    <dl>
        <dt th:text="#{작성자}"></dt>
        <dd>
            <input type="text" name="poster" th:field="*{poster}">

            <span class="checkbox">
                <input type="checkbox" name="secret" th:field="*{secret}" value="true" id="secret">
                <label for="secret" th:text="#{비밀글}"></label>
            </span>

            <span th:if="${isAdmin}" class="checkbox">
                <input type="checkbox" name="notice" th:field="*{notice}" value="true" id="notice">
                <label for="notice" th:text="#{공지글}"></label>
            </span>

            <div class="error" th:each="err : ${#fields.errors('poster')}" th:text="${err}"></div>
        </dd>
    </dl>

    <dl th:if="*{guest}">
        <dt th:text="#{비밀번호}"></dt>
        <dd>
            <input type="password" name="guestPw" th:field="*{guestPw}">
            <div class="error" th:each="err : ${#fields.errors('guestPw')}" th:text="${err}"></div>
        </dd>
    </dl>
    <dl>
        <dt th:text="#{글제목}"></dt>
        <dd>
            <input type="text" name="subject" th:field="*{subject}">
            <div class="error" th:each="err : ${#fields.errors('subject')}" th:text="${err}"></div>
        </dd>
    </dl>
    <dl>
        <dt th:text="#{글내용}"></dt>
        <dd>
            <textarea name="content" id="content"></textarea>

            <th:block th:if="${board.editor && board.imageUpload }">
                <div class="uploaded-files editor-files"></div>
                <button type="button" class="file-upload-btn" th:data-gid="*{gid}" data-location="editor" data-image-only="true" th:text="#{이미지_추가}"></button>
            </th:block>

            <div class="error" th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
        </dd>
    </dl>
    <dl th:if="${board.attachFile}">
        <dt th:text="#{파일첨부}"></dt>
        <dd>
            <div class="uploaded-files attach-files"></div>
            <button type="button" class="file-upload-btn" th:data-gid="*{gid}" data-location="attach" th:text="#{파일업로드}"></button>
        </dd>
    </dl>

    <script th:replace="~{common/_file_tpl::editor_tpl}"></script>
    <script th:replace="~{common/_file_tpl::attach_tpl}"></script>
</th:block>
</html>