<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form name="frmStep" method="POST" th:action="@{/survey/diabetes/step2}" autocomplete="off" th:object="${requestDiabetesSurvey}">
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
    </form>
</main>
</html>