<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<section layout:fragment="content">
    <h2>회원 검색</h2>
    <form name="frmSearch" method="get" th:action="@{/admin/member}" autocomplete="off" th:object="${memberSearch}">
        <table class="table-cols">
            <tr>
                <th width="120">키워드 검색</th>
                <td>
                    <select name="sopt" th:field="*{sopt}">
                        <option value="ALL">통합검색</option>
                        <option value="EMAIL">이메일</option>
                        <option value="NAME">회원명</option>
                        <option value="MOBILE">휴대전화번호</option>
                    </select>
                    <input type="text" name="skey" th:field="*{skey}" placeholder="검색어를 입력하세요.">
                </td>
            </tr>
            <tr>
                <th>회원권한</th>
                <td>
                    <span th:each="auth : ${authorities}">
                        <input type="checkbox" name="authority" value="${auth.name()}" th:id="${'authority-' + auth.name()}" th:field="*{authority}">
                        <label th:for="${'authority-' + auth.name()}" th:text="${#messages.msg('authority.' + auth.name())}"></label>
                    </span>
                </td>
            </tr>
        </table>

    </form>

    <h2>회원 목록</h2>

    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</section>
</html>