<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common" th:object="${requestProduct}">
    <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

    <h2>상품 기본정보</h2>
    <table class="table-cols mb30">
        <tr>
            <th width="120">상품명</th>
            <td>
                <input type="text" name="name" th:field="*{name}">
                <div class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th>상품분류</th>
            <td>
                <input type="text" name="category" th:field="*{category}">
                <div class="error" th:each="err : ${#fields.errors('category')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th>상품상태</th>
            <td>
                <span th:each="status : ${statusList}">
                    <input type="radio" name="status" th:id="${'status-' + status.name()}" th:value="${status.name()}" th:field="*{status}">
                    <label th:for="${'status-' + status.name()}" th:text="${#messages.msg('productStatus.' + status.name())}"></label>
                </span>
            </td>
        </tr>
        <tr>
            <th>소비자가</th>
            <td>
                <input type="number" name="consumerPrice" th:field="*{consumerPrice}">
                <div class="error" th:each="err : ${#fields.errors('consumerPrice')}" th:text="${err}"></div>
            </td>
        </tr>
        <tr>
            <th>판매가</th>
            <td>
                <input type="number" name="salePrice" th:field="*{salePrice}">
                <div class="error" th:each="err : ${#fields.errors('salePrice')}" th:text="${err}"></div>
            </td>
        </tr>
    </table>

    <h2>상품 이미지</h2>
    <table class="table-cols mb30">
        <tr>
            <th width="120">메인 이미지</th>
            <td>
                <div class="uploaded_images" id="main-images">
                    <div th:if="*{mainImages != null}" th:each="item : *{mainImages}" th:object="${item}" class="file-images" th:id="*{'file-' + seq}">
                        <i class="xi-close remove" th:data-seq="*{seq}"></i>
                        <img th:src="@{/file/thumb?seq={seq}&width=200&height=200&crop=true(seq=*{seq})}" class="image show-image" th:data-seq="*{seq}">
                    </div>
                </div>
                <button type='button' class="sbtn file-upload-btn" th:data-gid="*{gid}" data-location="main" data-image-only="true">이미지 추가</button>
            </td>
        </tr>
        <tr>
            <th>목록 이미지</th>
            <td>
                <div class="uploaded_images" id="list-images">
                    <div th:if="*{listImages != null}" th:each="item : *{listImages}" th:object="${item}" class="file-images" th:id="*{'file-' + seq}">
                        <i class="xi-close remove" th:data-seq="*{seq}"></i>
                        <img th:src="@{/file/thumb?seq={seq}&width=200&height=200&crop=true(seq=*{seq})}" class="image show-image" th:data-seq="*{seq}">
                    </div>
                </div>
                <button type="button" class="sbtn file-upload-btn" th:data-gid="*{gid}" data-location="list" data-single="true" data-image-only="true">이미지 등록</button>
            </td>
        </tr>
    </table>

    <h2>상품 상세설명</h2>
    <table class="table-cols mb30">
        <tr>
            <th width="120">상품설명</th>
            <td>
                <textarea id="description" name="description" th:field="*{description}"></textarea>

                <div class="uploaded_images" id="editor-images">
                    <span th:if="*{editorImages != null}" th:each="item : *{editorImages}" th:object="${item}" class="file-items" th:id="*{'file-' + seq}">
                        <a th:href="@{/file/download/{seq}(seq=*{seq})}" th:text="*{fileName}"></a>
                        <i class="xi-upload insert-editor" th:data-file-url="*{fileUrl}"></i>
                        <i class="xi-close remove" th:data-seq="*{seq}"></i>
                    </span>
                </div>
            </td>
        </tr>
    </table>
    <script th:replace="~{common/_file_tpl::image_tpl}"></script>
    <script th:replace="~{common/_file_tpl::editor_tpl}"></script>
</th:block>
</html>