<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<section layout:fragment="content">
    <h1 th:text="${pageTitle}"></h1>
    <form name="frmSave" method="POST" th:action="@{/admin/product/save}" th:object="${requestProduct}" autocomplete="off">
        <input type="hidden" name="mode" value="edit">
        <input type="hidden" name="seq" th:field="*{seq}">
        <input type="hidden" name="gid" th:field="*{gid}">

        <th:block th:replace="~{admin/product/_form::common}"></th:block>

        <div class="button-group">
            <button type="reset" class="btn">다시입력</button>
            <button type="submit" class="btn black">수정하기</button>
        </div>
    </form>
</section>
</html>