<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<section layout:fragment="content" th:object="${requestBoard}">
    <h1>
        <th:block  th:text="${pageTitle}"></th:block> -
        <th:block th:text="*{name + '(' + bid + ')'}"></th:block>
    </h1>

    <form name="frmSave" method="POST" th:action="@{/admin/board/save}" autocomplete="off">
        <input type="hidden" name="mode" value="update">

        <th:block th:replace="~{admin/board/_form::common}"></th:block>

        <div class="button-group">
            <button type="reset" class="btn">다시입력</button>
            <button type="submit" class="btn black">수정하기</button>
        </div>
    </form>
</section>
</html>