<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">

<th:block layout:fragment="addCommonScript">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</th:block>

<section layout:fragment="content">
    <h1>오늘의 트렌드</h1>
    <form name="frmSearch" method="get" th:object="${trendSearch}" autocomplete="off">
        사이트 주소 :
        <input type="text" name="siteUrl" th:field="*{siteUrl}">
        <button type="submit">조회하기</button>
    </form>
    <th:block th:if="${json == null}">
        <div class="message">트렌드를 조회할 사이트 주소를 입력하세요.</div>
    </th:block>
    <th:block th:unless="${json == null}">
        <img th:src="${now.wordCloud}">
        <div class="chart-wrap">
            <canvas id="now-chart"></canvas>
        </div>
        <h2>일주일간의 누적 트렌드</h2>
        <img th:src="${oneWeekWordCloud}">

        <canvas id="week-chart"></canvas>

        <h2>한달간의 누적 트렌드</h2>
        <img th:src="${oneMonthWordCloud}">

        <canvas id="month-chart"></canvas>

        <script type="application/json" id="chart-data" th:utext="${json}"></script>
    </th:block>

</section>
</html>